#page2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  padding-block: 50px;
  flex-direction: column;
}
#page2_bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  height: auto;
  width: 100%;
  padding-block: 50px;
}
#page2_bottom > div {
  display: flex;
  padding: 10px;
  min-width: 428px;
}
#page2_bottom > div > div:nth-child(2) {
  padding: 25px 0 0 25px;
}

#page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 40px;
}
#page3 > a {
  text-decoration: none;
  font-size: 20px;
  background: #2890ff;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 0px 0px #0043ff, 4px 4px #0043ff;
  color: white;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-around;
}
#page3 img {
  border: 2px solid rgb(182, 182, 182);
  border-radius: 5px;
  cursor: pointer;
}

#page1 {
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    338deg,
    rgb(193 146 146) 0%,
    rgba(116, 115, 255, 1) 35%,
    rgba(107, 107, 255, 1) 59%,
    rgba(89, 164, 159, 1) 81%,
    rgba(194, 194, 194, 1) 100%
  );
  flex-direction: column;
}
.tbot > div {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tbot span {
  width: 200px;
  height: 200px;
  border-radius: 400px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg");
  background-size: cover;
  background-position: center;
}

.tabs {
  height: 90%;
  width: 24.5%;
  margin-inline: 0.5%;
  min-width: 350px;
  border: 0.5px solid black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ttop {
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbot {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: larger;
}

@media only screen and (max-width: 1100px) {
  #page3 img {
    width: 98vw;
  }
  #page2_bottom {
    justify-content: start;
  }
  .tabs {
    height: 99%;
  }
}
